:root {
  --border-clr: darkorange;
  --trail-clr: orange;
  --tile-clr: rgb(0,0,0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;

  max-height: 100vh;
  max-width: 600px;
  margin: 0 auto;
}

.tile {
  background-color: var(--tile-clr, black);
  
  border: 1px solid var(--border-clr, darkorange);
  
  margin: 0px;
}

.trail {
  background-color: var(--trail-clr, orange);
}